# pycache
src/__pycache__/
src/tests/__pycache__/
src/tests/metamorphic_tests/__pycache__/

# Output images
src/images/mistakes/Mode/RGB/*
!src/images/mistakes/Mode/RGB/empty
src/images/mistakes/Mode/BW/*
!src/images/mistakes/Mode/BW/empty

src/images/mistakes/Format/PNG/*
!src/images/mistakes/Format/PNG/empty
src/images/mistakes/Format/JPEG/*
!src/images/mistakes/Format/JPEG/empty
src/images/mistakes/Format/BMP/*
!src/images/mistakes/Format/BMP/empty

# Log files
src/tests/*.log
